extends layout.pug

block addition
    meta(property="og:type" content="article")
    each url in picture
        meta(property="og:image" content=url)
        meta(property="image:user_generated" content="true")
