mixin pictureContent
    div.picture
        each url in retweet.picture
            img(src=url)

mixin videoContent
    div.video
        each url in retweet.video
            video(src=url controls)

article.retweet
    p.retweet_user
        b.user_name !{retweet.user.name}
    div
        != retweet.content.html
    case retweet.type
        when 'picture'
            +pictureContent()
        when 'video'
            +videoContent()
