mixin pictureContent
    div
        each url in retweet.picture
            img(src=url)

mixin videoContent
    div
        each url in retweet.video
            video(src=url controls)

blockquote.retweet
    span.user_name !{retweet.user.name}
    div
        != retweet.content.html
    div
        case retweet.type
            when 'picture'
                +pictureContent()
            when 'video'
                +videoContent()
